body { font: 15px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; color:#666; background-color: #fff; }
h1 { font-size: 24px; margin: 0 0 15px 20px; display: none; }
p { margin: 0; }
a {color:#55f; text-decoration:none;}
a:hover {color:#ccc;text-decoration:none}
strong {font-weight: normal;}
.error { color: #f55; }
.info { margin: 10px; }
.info span { border-bottom: 1px dotted #999; }
.small { font-size: 10px; }
#container { padding-top: 50px; }
#form, p, img { text-align: center; vertical-align: middle; }
#form input, #form label { display: inline; font-size: 18px; margin: 3px; }
#form img { margin-right: 5px; }
#address { width: 330px; }
#submit { color: #666; }
#map { height: 400px; border: 2px solid #c0c0c0; margin-top: 20px; margin-bottom: 20px; }
#meta { margin-top: 10px; margin-bottom: 20px; margin-left: auto; margin-right: auto; font-size: 18px; }
#meta .label { width: 200px; }
#ft { padding: 10px; }
#ft a { color: #66f; }
