<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="Geohash jest metodą kodowania współrzędnych geograficznych za pomocą ciągu znaków, które można umieścić w prostym linku." />
    <meta name="keywords" content="geohash, kodowanie, geoprzestrzenne" />
    <meta http-equiv="Content-Language" content="pl" />
    <meta name="google-site-verification" content="EJ19isvjElscT6UxkgChh16UMk-UrmRgcrAOkYGu5c8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <title>Geohash</title>
    <link href="/static/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="/static/css/960/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/960/960.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
<div id="wrapper">
    <div id="container" class="container_16">
        <div id="content" class="prefix_2 grid_12 suffix_2">
            <h1>Geohash</h1>
            <form id="form" action="/" method="get">
                <p>
                    <a href="/" title="Geohash"><img src="/static/img/map{{ '01245678'|random }}.png" alt="Geohash" width="128" height="128" /></a>
                    <label for="address">Adres:</label>
                    <input id="q" type="text" id="address" name="q" value="{{ q }}" />
                    <input type="submit" id="submit" value="Geohash!" />
                </p>
            </form>
            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            {% block content %}
            {% if not show_map and not message and not error %}
                <p class="info">
                    Zamień <span title="np. Warszawa" onclick="document.getElementById('q').value = 'Warszawa'">adres</span> lub
                    <span title="Współrzędne geograficzne: długość, szerokość" onclick="document.getElementById('q').value = '21.0063,52.2316'">współrzędne</span>
                    na prosty link przy pomocy
                    <a href="http://en.wikipedia.org/wiki/Geohash">Geohash</a>.
                </p>
            {% endif %}
            {% endblock %}

            <div id="ft">
                <p>&copy; <a href="http://en.ig.ma/">en.ig.ma</a></p>
            </div>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3396395-17']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
