{% extends "base.html" %}

{% block content %}
{% if show_map %}
    <div id="map">
        <noscript>
            <a href="http://maps.google.com/?q={{ latitude}},{{ longitude }}"><img src="{{ map_url }}" alt="Mapa dla kodu '{{ key }}'" /></a>
        </noscript>
    </div>
    <table id="meta">
        <tr class="latlon">
            <td class="label">Długość, szerokość:</td>
            <td class="value"><span title="{{ longitude_s }} stopni długości geograficznej">{{ longitude_s }}</span>, <span title="{{ latitude_s }} stopni szerokości geograficznej">{{ latitude_s }}</span></td>
        </tr>
        <tr class="link">
            <td class="label">Geolink:</td>
            <td class="value">
                <a href="{{ url }}">{{ url }}</a>&nbsp;<a class="small" href="{{ url }}.json">(json)</a><br />
            </td>
        </tr>
    </table>
    {% if shorter_url %}
        <p><span>Info: Usuwając ostatnie znaki z geolinku zmniejszasz jego precyzję, np. <a rel="nofollow" href="{{ url[:-1] }}">{{ url[:-1] }}</a>.</span></p>
    {% endif %}
{% endif %}
{% endblock %}


{% block scripts %}
{% if bb %}
<script type="text/javascript" src="http://maps.google.pl/maps/api/js?sensor=false&region=PL"></script>
<script type="text/javascript">
    var latitude = {{ latitude|tojson|safe }};
    var longitude = {{ longitude|tojson|safe }};
    var bb = {{ bb|tojson|safe }};
    var markerTitle = "Geohash {{ key }}";
    var infoWindowContent = '<div><h4>Geohash {{ key }}</h4>' +
                '<div><a href="{{ url }}">{{ url }}</a></div>' +
                '<div>{{ longitude_s }}, {{ latitude_s }}</div>';
</script>
<script>
function initialize() {
    var latlng = new google.maps.LatLng(latitude, longitude);
    var sw = new google.maps.LatLng(bb.s, bb.w );
    var ne = new google.maps.LatLng(bb.n, bb.e);
    var bounds = new google.maps.LatLngBounds(sw, ne);
    var bboxCoords = [
        new google.maps.LatLng(bb.n, bb.e),
        new google.maps.LatLng(bb.n, bb.w),
        new google.maps.LatLng(bb.s, bb.w),
        new google.maps.LatLng(bb.s, bb.e)
    ];

    var options = {
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        navigationControl: true,
        navigationControlOptions: {style: google.maps.NavigationControlStyle.DEFAULT},
        mapTypeControl: true,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DEFAULT},
        scaleControl: false
    };
    var map = new google.maps.Map(document.getElementById("map"), options);
    map.fitBounds(bounds);

    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: markerTitle
    });

    var bbox = new google.maps.Polygon({
        paths: bboxCoords,
        strokeColor: "#FF0000",
        strokeOpacity: 0.3,
        strokeWeight: 2,
        fillColor: "#FF0000",
        fillOpacity: 0.1
      });
    bbox.setMap(map);

    var infoWindow = new google.maps.InfoWindow({content: infoWindowContent});

    google.maps.event.addListener(marker, 'click', function() {
        infoWindow.open(map,marker);
    });
}
window.onload = initialize;
</script>
{% endif %}
{% endblock %}
